body h1, h2 {
    text-align: center;
    margin: 50px;
}

.divider {
    position: relative;
    height: 5px;
    border-style: solid;
    border-left: transparent;
    border-right: transparent;
    border-width: thick;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 2px;
    color: var(--highlight1a);
    padding-top: 0;
}

/* image grid */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/* *
*
body text
*
* */

.mainContainer {
    padding: 25px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 40px;
    
}
#index {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    float: left;
    background-color: var(--highlight1b);
    color: var(--primaryCol1b);
    width : 180px;
    height : 400px;
    margin: 20px;
    padding: 10px;
}
#index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 3;
}
/* #index li {
    float: left;
} */
#index li a {
    text-decoration: none;
    color: var(--primaryCol1b);
    font-size: xx-large;
    font-family: bangersFont;   
}

#body1 {
    display : flex;
    flex-flow: row wrap;
    gap : 30px;
    padding-bottom: 10px; 
    justify-content: center;
    align-items: center;
}
#body1 h3 {
    text-align: center;
    font-weight: bold;
}
#descriptionCont {
    padding: 10px;
    padding-top: 0px;
    width: 500px;
}
#salesCont {
    padding: 10px;
    padding-top: 0px;
    width: 500px;
}
#salesCont img {
    width : 90%;
    float: right;
    margin: 10px;
}

#charactersCont {
    text-align: center;
    margin: 50px;
    margin-top: 0;
}

#charactersCont a {
    text-decoration: none;
    color: inherit;
}

.footer {
    margin-top: 0;
}
.footerContent {
    margin-top: 0;
}