body h1, h2 {
    text-align: center;
    margin: 50px;
}
/* #index {
    float: left;
} */
#index ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* #index li {
    float: left;
} */
#index li a {
    text-decoration: none;   
}