.divider {
    position: relative;
    height: 5px;
    border-style: solid;
    border-left: transparent;
    border-right: transparent;
    border-width: thick;
    /* margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px; */
    margin: 80px;
    border-radius: 2px;
    color: var(--highlight1a);
    padding-top: 0;
}

.header1 {
    text-align: center;
}

.character-grid {
    text-align: center;
}

.character-grid h5 {
    font-size: 0.35cm;
}

.character-card {

    min-width: 300px;
    width: 30%;
    margin: 10px;
}