/* background image for whole page */
body {
    background-image: url('../images/paperbkgd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

.allText {
    background-color: var(--primaryCol3a);
    margin: 75px;
    padding: 20px;
}

/* heading */
.myHeader {
    text-align: center;
}
.myHeader p {
    color: var(--highlight1a);
    font-weight: bolder;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contDetails {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    margin: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* phone number table styling */
table {
    font-family: inherit;
    border-collapse: collapse;
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
/* coloured rows (alternating) */
  tr:nth-child(odd) {
    background-color: var(--highlight1c);
  }
  tr:nth-child(even) {
    background-color: var(--primaryCol2b);
  }

#tableTitle {
    font-weight: bolder;
    font-size: xx-large;
    font-family: bangersFont;
    color: var(--highlight1a);
}

.footer {
    margin-top: 100px;
}