body h1, h2, h3 {
    text-align: center;
    margin: 10px;
}
h2 {
    font-size: 1.0cm;
}

.banner {
    background-color: var(--highlight1a);
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    
  }

/* INDEX WINDOW STUFF
#catLogo {
    position : absolute;
    left : 10px;
}
#catLogo:hover  {
           
    transform: scale(1.1);
    transition: .5s;
}
#dogLogo {
    position : absolute;
    left : 100px;
    display : none;
}
.myInd {
    grid-area : nav;
    background-color: rgb(218, 233, 196);
    text-align: center;

@media (max-width :800px)
{
    .myInd {
        position : fixed;
        top : 80px;
        width : 200px;
        border-style: solid;
        border-width : thin;
        padding-bottom: 30px;
        opacity : 50%;
        transition :1s;
        transform: translate(-150px);

        .myInd p {
            background-color: blanchedalmond;
            border-style: solid;
            border-width : thin;
            padding : 10px;
            width : 50%;
            margin : 0 auto;
            margin-bottom : 10px;
            transition : .5s;
            
        }

        .myInd p:hover {
            background-color: black;
            color : blanchedalmond;

            #title {
                color : blue;
            }

            #closeWindow {
                position : absolute;
                top : 10px;
                left : 10px;
                font-size: xx-large;
            }
            #closeWindow:hover {
                background-color: black;
                color : white;
            }

}
     */


/* image grid */

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        margin: 50px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    
    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
        flex: 50%;
        max-width: 50%;
        }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
        flex: 100%;
        max-width: 100%;
        }
    }

#HomeSlogan {
    text-align: center;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--highlight1a);
    color: var(--primaryCol2b);
}
#HomeSlogan p {
    font-size: large;
}

.mainFlex {
    display : flex;
    flex-flow: row wrap;
    gap : 30px;
    padding-bottom: 0px;
    margin: 50px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-evenly;
}
.mainFlex h2 {
    margin: 5px;
}
.infoHome {
    width: 30%;
    min-width: 350px;
}
.divider {
    position: relative;
    height: 5px;
    border-style: solid;
    border-left: transparent;
    border-right: transparent;
    border-width: thick;
    /* margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px; */
    margin: 80px;
    border-radius: 2px;
    color: var(--highlight1a);
    padding-top: 0;
}