body h1 {
    text-align: center;
    margin: 50px;
}

/* 
*
image carousel
*
*/

    /* Slideshow container */
    .slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
    }

    /* .slideshow-container img {
        height: 100px;
    } */

    /* Hide the images by default */
    .mySlides {
    display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
    }

    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

/* 
*
*
body
*
* 
*/

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    line-height: 0.5in;
    width: auto;
    background-color: var(--highlight1c);
    color: var(--primaryCol2b);
    margin: 50px;
    border: double;
    border-color: var(--highlight1a);
    border-width: thick;
}

.list h2 {
    color: var(--highlight1b);
}
.list a {
    /* text-decoration: none; */
    color: var(--primaryCol2a);
}

/* 
*
*
MOVIE CARDS
*
*/
/* .article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: var(--gap);
    margin: 0 0 var(--gap);
} */
.article-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    margin: 50px;

}

.movie-card {
    background: var(--primaryCol2b);
    color: var(--primaryCol1a);
    border-radius: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    float: left;
    min-width: 450px;
    width: 40%;
    margin: 10px;
}

.movie-card a {
    color: var(--highlight1a);
    text-decoration: none;
}

.movie-thumb {
    display: block;
    margin-bottom: 15px;
}
.movie-thumb img .movie-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}
.movie-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px; 
    padding-bottom: 0px;
    padding-top: 0px;
}
.movie-guide-time, .movie-excerpt{
    margin: 0 10px 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}