

.banner {
  background-color: maroon;
  color: whitesmoke;
  font-size: large;
  height: auto;
  width: auto;

}

#contact {
  float: right;
  top: -80px;
}
#contact a {
  text-decoration: none;
}

body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp dropdown in navbar */
/* Navbar container */
    .navbar {
      overflow: hidden;
      background-color: #333;
      font-family: Arial;
    
    }

    /* Links inside the navbar */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 15px 50px;
      text-decoration: none;
    }

    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 15px 50px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a colour to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: greenyellow;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    #contactNav {
      float: right;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 15px 80px;
      text-decoration: none;
    }
/* 
*
body
* 
*/


/* 
*
footer
*
*/


.footer {
  color: white;
  background-color: rgb(105, 26, 26);
}

.footer a {
  color: inherit;
  /* text-decoration: none; */
  padding: 0;
  margin: 0;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.links li {
  padding: 0;
  margin: 0;
}

#footerContent {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: rgb(105, 26, 26);
  margin-bottom: 0;
}

#footerCred {
  margin: 0;
  background-color: maroon;
  width: 100%;
  padding: 5px 20px 5px;
}

#footername {
  float: right;
}
