* {box-sizing:border-box}

:root {
  --primaryCol1a : black;
  --primaryCol1b : white;
  --primaryCol2a : rgb(85, 89, 94);
  --primaryCol2b : rgb(218, 216, 216);
  --primaryCol3a : rgb(245, 241, 241);
  --highlight1a : rgb(105, 26, 26);
  --highlight1b : rgb(114, 19, 19);
  --highlight1c : rgb(230, 130, 123);
}

@font-face {
  font-family: bangersFont;
  src: url(../fonts/Bangers-Regular.ttf);
}

body {
  font-family: Verdana, sans-serif;
  margin:0;
  background-color: var(--primaryCol3a);
}

h1 {
  font-family: bangersFont;
  font-size: 2cm;
}
h2 {
  font-family: bangersFont;
  font-size: 1.5cm;
  color: var(--highlight1a);
}
h3 {
  font-family: bangersFont;
  font-size: 1.0cm;
  color: var(--highlight1c);
}



.banner {
  background-color: var(--highlight1a);
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
  .navbar {
    overflow: hidden;
    background-color: var(--primaryCol2a);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    }

  .navbar a {
    float: left;
    font-size: 16px;
    color: var(--primaryCol2b);
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--primaryCol2b);
    padding: 15px 50px;
    background-color: inherit;
    font-family: inherit; 
    font-weight: inherit;
    margin: 0; 
    }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--highlight1b);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primaryCol2b);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: inherit;
    font-weight: normal;
  }

  .dropdown-content a:hover {
    background-color: var(--highlight1a);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  #contactNav {
    float: right;
    padding: 15px 80px;
    text-decoration: none;
  }

/* 
*
body
* 
*/


/* 
*
footer
*
*/


.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
}

#footerContent {
  background-color: var(--highlight1b);
  color: var(--primaryCol2b);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.footer a {
  color: var(--primaryCol2b);
  /* text-decoration: none; */
  padding: 0;
  margin: 0;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

#footerCred {
  margin: 0;
  background-color: var(--primaryCol2a);
  color: var(--primaryCol1b);
  width: 100%;
  padding: 5px 20px 5px;
}

#footername {
  float: right;
  font-weight: bold; 
}
